streamlit==1.18.0
requests==2.28.1
beautifulsoup4==4.11.1
youtube-transcript-api==0.6.0
pytube==12.1.0
textblob==0.17.1
plotly==5.8.0
transformers==4.24.0
python-dotenv==0.20.0
pandas==1.5.3
numpy==1.23.5
torch==1.12.1
sentencepiece==0.1.97

pygments==2.15.0
markdown-it-py==2.2.0
mdurl==0.1.0
rich==12.6.0
setuptools
