streamlit==1.18.0
requests==2.28.1
beautifulsoup4==4.11.1
youtube-transcript-api==0.6.0
pytube==12.1.0
textblob==0.17.1
plotly==5.8.0
python-dotenv==0.20.0
pandas==2.0.3
numpy==1.23.5
torch==2.0.0


altair==4.2.2
vega_datasets
transformers
